.chief {
    display: flex;
    margin: 100px auto 100px auto;
    max-width: 1500px;
}

.chief-content {
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.chief-content-title {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin: 0;
}

.chief-content-text {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin: 20px 0px 0px 0px;
    margin-top: 50px;
}

.chief-content-image {
    width: 100%;
    height: auto;
    margin-top: auto;
}

.chief-imagew {
    flex: 1;
    margin-left: 10px;
}

.chief-image {
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width: 768px) {
    .chief {
        display: flex;
        margin: 0px auto 0px auto;
        padding: 200px 10px 0px 10px;
        max-width: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .chief-content {
        margin-right: 0px;
        justify-content: center;
    }
    
    .chief-content-title {
        text-align: center;
    }
    
    .chief-content-text {
        text-align: center;
        margin-bottom: 50px;
    }
    
    .chief-content-image {
        margin-bottom: 20px;
    }
    
    .chief-imagew {
        margin-left: 0px;
        margin-bottom: 50px;
    }
    
    .chief-image {
        width: 100%;
        height: auto;
        display: block;
    }
}