.where {
    background-color: rgba(0, 0, 0, 0.055);
    padding: 100px 0px 100px 0px;
    height: fit-content;
    width: 100%;
}

.where-wrapper {
    margin: 0px auto 0px auto;
    max-width: 1500px;
}

.where-title {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin: 0;
    margin-bottom: 50px;
}

.where-content {
    display: flex;
}

.where-content-image {
    height: 600px;
    margin-right: 40px;
}

.where-content-addresses {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.where-content-addresse {

}

.where-content-addresse-title {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin: 0;
    margin-bottom: 20px;
}

.where-content-addresse-text {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin: 0;
    color: black;
}